<div class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item" href="#tab1">
            最近一个月
        </a>
        <a class="weui-navbar__item" href="#tab1">
            最近三个月
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                {{#each list}}
                    <table class="weui-media-box weui-media-box_appmsg">
                        <th>
                            {{date1}}
                        </th>
                        <th>
                            <div class="weui-media-box__bd" style="text-align:left">
                                <h4 class="weui-media-box__title">{{name}}</h4>
                                <p class="weui-media-box__desc">{{desc}}</p>
                                <p class="weui-media-box__desc">用户ID:{{memberId}}</p>
                                <p class="weui-media-box__desc">兑换时间:{{verifiedAt}}</p>
                                <p class="weui-media-box__desc">状态:已核销</p>
                            </div>
                        </th>
                    </table>
                {{/each}}
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            {{#each list}}
                <table class="weui-media-box weui-media-box_appmsg">
                    <th>
                        {{date1}}
                    </th>
                    <th>
                        <div class="weui-media-box__bd" style="text-align:left">
                            <h4 class="weui-media-box__title">{{name}}</h4>
                            <p class="weui-media-box__desc">{{desc}}</p>
                            <p class="weui-media-box__desc">用户ID:{{memberId}}</p>
                            <p class="weui-media-box__desc">兑换时间:{{verifiedAt}}</p>
                            <p class="weui-media-box__desc">状态:已核销</p>
                        </div>
                    </th>
                </table>
            {{/each}}
        </div>
    </div>
</div>

